<div class="auth" *ngIf="!auth.authorized">
  <router-outlet></router-outlet>
</div>

<div class="bar" *ngIf="auth.authorized">
  <div class="topBar">
    <div class="logoMin" [class.logoBig]="menu" (click)="menu = !menu">

      <span *ngIf="menu">
        SWITCHKEY
      </span>
      <span *ngIf="!menu">
        SK
      </span>
    </div>

    <div class="textName">
        test
    </div>

    <div class="buttons">
      <div class="login" (click)="dots = !dots">
        {{auth.login}}
      </div>

      <div class="menu" [class.menuHidden]="!dots">
        <div class="item red" (click)="auth.logout()">
          Выйти
        </div>
      </div>
    </div>
  </div>
  <div class="leftBarMenu" [class.leftBarMenuBig]="menu">
    <div class="add">
      Создать
    </div>
    <div class="items">
      <div class="item">
        item
      </div>
      <div class="item">
        item
      </div>
      <div class="item">
        item
      </div>
      <div class="item">
        item
      </div>
      <div class="item">
        item
      </div>
    </div>
    <div class="settings">
      Настройки
    </div>
  </div>
  <div class="app" [class.w]="menu">
    <router-outlet></router-outlet>
  </div>
</div>

<!--<div class="noBar" *ngIf="auth.authorized">
  <router-outlet></router-outlet>
</div>-->
