@import "../assets/export";

.auth {
  width: 100vw;
  height: 100vh;
}

.bar {
  width: 100vw;
  height: 100vh;
  .topBar {
    position: absolute;
    width: 100%;
    height: 44px;
    background: $barsColor;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 111121;

    .logoMin {
      width: 44px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $logoColor;
      font-size: 22px;
      cursor: pointer;
      transition: .55s width;
    }

    .logoBig {
      width: 200px;
    }

    .textName {
      display: flex;
      height: 100%;
      align-items: center;
    }

    .buttons {
      height: 100%;
      display: flex;
      align-items: center;
      padding-right: 5px;

      .login {
        margin-right: 10px;
        cursor: pointer;
      }

      .dots {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        cursor: pointer;
        border-radius: 50%;

        &:hover {
          background: #1D1D1D;
        }
      }

      .menu {
        width: 100px;
        background: $buttonColor;
        position: absolute;
        top: 44px;
        right: 0;
        transition: .55s right;

        .item {
          width: 100%;
          height: 34px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          &:hover {
            background: #191919;
          }
        }
      }
      .menuHidden {
        right: -100px !important;
      }
    }
  }

  .leftBarMenu {
    width: 200px;
    height: calc(100% - 44px);
    background: $buttonColor;
    position: absolute;
    top: 44px;
    left: -200px;
    transition: .55s left;
    .add {
      height: 40px;
      width: 100%;
      background: $buttonColor;
      display: flex;
      padding-left: 22px;
      align-items: center;
      font-size: 18px;
      cursor: pointer;
      margin-bottom: 6px;
      &:hover {
        background: #191919;
      }
    }

    .items {
      height: calc(100% - 86px);
      width: 100%;

      .item {
        height: 40px;
        width: 100%;
        background: $buttonColor;
        display: flex;
        padding-left: 30px;
        align-items: center;
        font-size: 18px;
        cursor: pointer;
        &:hover {
          background: #191919;
        }
      }
    }

    .settings {
      position: absolute;
      bottom: 0;
      height: 40px;
      width: 100%;
      background: $buttonColor;
      display: flex;
      padding-left: 22px;
      align-items: center;
      font-size: 18px;
      cursor: pointer;


      &:hover {
        background: #191919;
      }
    }
  }


  .leftBarMenuBig {
    left: 0 !important;
  }

  .app {
    width: 100%;
    height: calc(100% - 44px);
    position: absolute;
    top: 44px;
    left: 0;
    transition: .55s width, .55s left;
  }
}

.noBar {
  width: 100vw;
  height: 100vh;
}

.w {
  width: calc(100% - 200px)!important;
  left: 200px !important;
}

.red {
  color: $errTextColor;
}
