@import "../../assets/export";

.auth {
  width: 100%;
  height: 100vh;
  display: flex;
  .bar {
    height: 100%;
    width: 340px;
    background: $barsColor;
    display: flex;
    align-items: center;
    .container {
      width: 100%;
      .title {
        text-align: center;
        font-size: 30px;
        margin-bottom: 35px;
      }
      .form {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        .error {
          height: 20px;
          font-size: 12px;
          color: $errTextColor;
        }
        .text {
          width: 200px;
          background: $textFieldColor;
          height: 25px;
          border: none;
          border-radius: 5px;
          color: $textColor;
          padding: 2px 5px;
        }
        .button {
          width: 200px;
          height: 28px;
          border: none;
          border-bottom: 1px solid $shadowColor;
          background: $buttonColor;
          color: $textColor;
          border-radius: 5px;
          font-size: 18px;
          cursor: pointer;
          &:hover {
            background: #2a2a2a;
          }
          &:active {
            font-size: 16px;
          }
        }
        .type {
          cursor: pointer;
          margin-top: 5px;
          font-size: 14px;
          color: rgba(196, 196, 196, 0.76);
        }
      }
    }
  }
  .logo {
    height: 100%;
    width: calc(100% - 340px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 84px;
  }
}
